@import './constvariable.scss';

html, body, #root {
  height: 100%;
}
.ggc-app {
  text-align: center;
  background-color: $gcc-header-back-color;
  height: 100%;
  .ggc-header {
    height: 15%;
    background-color: antiquewhite;
  }
  .ggc-main {
    height: 100%;
    .ggc-side-panel {
      float: left;
      width: 260px;
      background-color: bisque;
      height: 100%;
    }
    .ggc-activity-plan {
      height: 100%;
      margin-left: 260px;
    }
  }
}